<!DOCTYPE html>
<html>
  <head>
    <title>PasswordBuscaBin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="centralized">
      <% flash.each do |level, notice| %>
        <div class="<%= level %>"><%= notice %></div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
